@import "../../var.scss";

.dao77777-TextA {
  display: inline-block;
  cursor: pointer;
  &.type-wow {
    border-bottom-style: solid;
    background-color: $color-transparent;
    // transition: all 0.24s ease-in-out;
    &.color-primary {
      border-bottom-color: $color-primary;
      color: $color-primary;
      &:hover {
        background-color: $color-primary;
        color: $color-white;
      }
      &.disabled-true {
        border-bottom-color: $color-primary-light-5;
        color: $color-primary-light-5;
        cursor: not-allowed;
        &:hover {
          background-color: $color-transparent;
          color: $color-primary-light-5;
        }
      }
    }
    &.color-success {
      border-bottom-color: $color-success;
      color: $color-success;
      &:hover {
        background-color: $color-success;
        color: $color-white;
      }
      &.disabled-true {
        border-bottom-color: $color-success-light-5;
        color: $color-success-light-5;
        cursor: not-allowed;
        &:hover {
          background-color: $color-transparent;
          color: $color-success-light-5;
        }
      }
    }
    &.color-warning {
      border-bottom-color: $color-warning;
      color: $color-warning;
      &:hover {
        background-color: $color-warning;
        color: $color-white;
      }
      &.disabled-true {
        border-bottom-color: $color-warning-light-5;
        color: $color-warning-light-5;
        cursor: not-allowed;
        &:hover {
          background-color: $color-transparent;
          color: $color-warning-light-5;
        }
      }
    }
    &.color-danger {
      border-bottom-color: $color-danger;
      color: $color-danger;
      &:hover {
        background-color: $color-danger;
        color: $color-white;
      }
      &.disabled-true {
        border-bottom-color: $color-danger-light-5;
        color: $color-danger-light-5;
        cursor: not-allowed;
        &:hover {
          background-color: $color-transparent;
          color: $color-danger-light-5;
        }
      }
    }

    svg {
      display: none;
    }
  }
  &.type-boring {
    &.color-primary {
      color: $color-primary;
      &:hover {
        color: $color-primary-light-1;
      }
      &.disabled-true {
        color: $color-primary-light-5;
        cursor: not-allowed;
        &:hover {
          color: $color-primary-light-5;
        }
      }
    }
    &.color-success {
      color: $color-success;
      &:hover {
        color: $color-success-light-1;
      }
      &.disabled-true {
        color: $color-success-light-5;
        cursor: not-allowed;
        &:hover {
          color: $color-success-light-5;
        }
      }
    }
    &.color-warning {
      color: $color-warning;
      &:hover {
        color: $color-warning-light-1;
      }
      &.disabled-true {
        color: $color-warning-light-5;
        cursor: not-allowed;
        &:hover {
          color: $color-warning-light-5;
        }
      }
    }
    &.color-danger {
      color: $color-danger;
      &:hover {
        color: $color-danger-light-1;
      }
      &.disabled-true {
        color: $color-danger-light-5;
        cursor: not-allowed;
        &:hover {
          color: $color-danger-light-5;
        }
      }
    }

    svg {
      display: none;
    }
  }
  &.type-amazing {
    position: relative;
    padding: 1px 5px;
    // transition: background-color 0.24s ease-in-out 0.24s, color 0.24s ease-in-out 0.24s;
    &.color-primary {
      color: $color-primary;
      &:hover {
        background-color: $color-primary;
        color: $color-white;
      }
      &.disabled-true {
        color: $color-primary-light-5;
        &:hover {
          color: $color-primary-light-5;
        }

        svg {
          polygon {
            stroke: $color-primary-light-5;
          }
        }
      }

      svg {
        polygon {
          stroke: $color-primary;
        }
      }
    }
    &.color-success {
      color: $color-success;
      &:hover {
        background-color: $color-success;
        color: $color-white;
      }
      &.disabled-true {
        color: $color-success-light-5;
        &:hover {
          color: $color-success-light-5;
        }

        svg {
          polygon {
            stroke: $color-success-light-5;
          }
        }
      }

      svg {
        polygon {
          stroke: $color-success;
        }
      }
    }
    &.color-warning {
      color: $color-warning;
      &:hover {
        background-color: $color-warning;
        color: $color-white;
      }
      &.disabled-true {
        color: $color-warning-light-5;
        &:hover {
          color: $color-warning-light-5;
        }

        svg {
          polygon {
            stroke: $color-warning-light-5;
          }
        }
      }

      svg {
        polygon {
          stroke: $color-warning;
        }
      }
    }
    &.color-danger {
      color: $color-danger;
      &:hover {
        background-color: $color-danger;
        color: $color-white;
      }
      &.disabled-true {
        color: $color-danger-light-5;
        &:hover {
          color: $color-danger-light-5;
        }

        svg {
          polygon {
            stroke: $color-danger-light-5;
          }
        }
      }

      svg {
        polygon {
          stroke: $color-danger;
        }
      }
    }
    &:hover {
      span {
        transform: translateX(0px);
      }
    }
    &.disabled-true {
      background-color: $color-transparent;
      cursor: not-allowed;
      &:hover {
        background-color: $color-transparent;

        span {
          transform: translateX(5px);
        }
      }
    }

    span {
      display: inline-block;
      transform: translateX(5px);
      // transition: transform 0.48s ease-in-out;
    }

    svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      polygon {
        fill: none;
        // transition: stroke-dasharray 0.24s ease-in-out;
      }
    }
  }
  &.size-base {
    font-size: $font-size-base;
  }
  &.size-medium {
    font-size: $font-size-medium;
  }
  &.size-large {
    font-size: $font-size-large;
  }
  &.weight-base {
    border-bottom-width: 1px;
    font-weight: unset;
    svg {
      polygon {
        stroke-width: 2px;
      }
    }
  }
  &.weight-bold {
    border-bottom-width: 2px;
    font-weight: bold;
    svg {
      polygon {
        stroke-width: 4px;
      }
    }
  }
}
