@import "../var.scss";

.dao77777-Nav {
  border-bottom: 1px solid $color-primary-light-1;
  height: 100%;
  background-color: $color-primary;
  color: white;
  user-select: none;

  .item {
    .self {
      height: 50px;
      display: flex;
      align-items: center;

      .insert {
        width: calc(100% - 40px);
        text-align: center;
        line-height: 50px;
      }

      .open {
        width: 40px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
    }

    .self.last {
      .insert {
        width: 100%;
        padding-right: 40px;
        &:hover {
          background-color: $color-primary-light-1;
        }
      }
      .open {
        display: none;
      }
    }

    .children {
      // height: 0px;
      overflow: hidden;
      transition: .24s height;
    }
  }

  .item.active {
    > .self.last {
      .insert {
        background-color: $color-primary-light-1;
      }
      .open {
        display: none;
      }
    }
  }
}
