@import "../../../dao77777/var.scss";

.Link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .MainLink {
    margin-bottom: 20px;
  }

  .link {
    margin-bottom: 10px;
    display: flex;
    align-items: center;

    i {
      line-height: $font-size-base;
    }

    .dao77777-TextA {
      line-height: $font-size-base;
      margin-left: 10px;
    }
  }
}