@import "../../dao77777/var.scss";

.Home {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  user-select: none;

  main {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .card {
      width: 100%;
      &.before {
        opacity: 0;
        transform: translateX(-100px);
      }
      &.ing {
        opacity: 1;
        transform: translateX(0px);
        transition: all 1s;
      }
      &.after {

      }

      .ArticleCard {
        border-bottom: $border-width-dotted dotted $color-border-light-3;
        margin-top: 100px;
        padding-bottom: 20px;
        &:nth-of-type(1) {
          margin-top: unset;
        }
      }
    }

    .PageWrap {
      margin-top: 50px;
      &.before {
        opacity: 0;
        transform: translateY(-100px);
      }
      &.ing {
        opacity: 1;
        transform: translateY(0px);
        transition: all 1s;
      }
      &.after {
    
      }
    }
  }

  .RouterLinkWrap {
    position: sticky;
    top: 0px;
    margin-left: 100px;
    &.before {
      opacity: 0;
      transform: translateY(-100px);
    }
    &.ing {
      opacity: 1;
      transform: translateY(0px);
      transition: all 1s;
    }
    &.after {
  
    }
  }
}
